/*
 *  Entry Cascading Stylesheet file. Contains mainly TailwindCSS imports.
 *  Created On 08 February 2022
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar */

::-webkit-scrollbar {
    display: none;
}

/* prevent blue color highlight on clicking in mobile devices */

* {
    -webkit-tap-highlight-color: transparent;
}

/* prevent black outline on focus */

* {
    outline: none !important;
}

/* Tippy.js styles */

.tippy-box[data-theme~='primary'] {
    @apply bg-primary border-2 border-solid border-primary font-medium;
}

.tippy-box[data-theme~='primary'] .tippy-arrow {
    @apply text-primary;
}

.tippy-box[data-theme~='light'] {
    @apply bg-white text-neutral-900 border-2 border-solid border-neutral-300 font-medium;
}

.tippy-box[data-theme~='light'] .tippy-arrow {
    @apply text-white;
}
